{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Contact Info{% endblock title %}

{% block content %}
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
<script type="text/javascript">
    var url_ = '/requests';
</script>
<script type='text/javascript'>
    $(document).ready(function() {    
        $('#rqst').click(function() {
                $().ajax({
                    url: url_,
                    type: 'GET',
                    success: function(data) {
                        $('#resutl').html(data);
                    }
                });
        });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div> 
        <div class="col-md-4">Contacts</div>
    </div>
    <div class="row">
        <div class="col-md-4">Name: {{ owner.first_name }}</div>
        <div class="col-md-4">Email: {{ owner.email }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Last name: {{ owner.last_name }}</div>
        <div class="col-md-4">Jabber: {{ owner.jabber }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Date of birth: {{ owner.birthday }}</div>
        <div class="col-md-4">Skype: {{ owner.skype }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"><h5>Bio: </h5>
            <p>{{ owner.bio }}</p>
        </div>
        <div class="col-md-4">Other contacts: <a href="{{ owner.other }}">{{ owner.other }}</a></div>
    </div>
    <hr>
    <footer id="foot">
        <H5><a id="rqst">requests</a></H5>
        <div id="resutl">
            {% include "requests.html" %}
        </div>
        <!-- {% for request in requests %} -->
            <!-- <p>{{ request.request_str }}</p> -->
        <!-- {% endfor %} -->
    </footer>
</div>
{% endblock content %}
