{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit Contact Information{% endblock title %}

{% block content %}
<script type="text/javascript" src="{% static "edit.js" %}"></script>
<script type="text/javascript">
$('#save').click(function () {
    $.ajax({
        url: '{% url "edit_contact" %}',
        type: 'POST',
        data: {
            'jabber': $('#jabber').value,
            'test': 'qwerty'
        },
        success: function(status) {
            if (status == 'success') {
                $('#data_saved').show();
                return false;
            } else {
                alert('Server Error');
                return false;
            }
        }
    });
});
</script>
<div class="container">
    <form action="{% url "edit_contact" %}" method="post" enctype="multipart/form-data" name="myform" class="form-horizontal">
        {% csrf_token %}
        <div class="col-sm-8">
            <div class="form-group">
                <label for="first_name" class="col-sm-2 control-label">First Name: </label>
                <div class="col-sm-4">
                    {{ form.first_name }}
                    <!-- <input type="text" value="{{ owner.first_name }}" name="first_name" id="first_name" class="form-control"/> -->
                </div>
                <label for="email" class="col-sm-2 control-label">Email: </label>
                <div class="col-sm-4">
                    <input type="text" value="" name="email" id="email"  class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="last_name" class="col-sm-2 control-label">Last Name: </label>
                <div class="col-sm-4">
                    <input type="text" value="" name="last_name" id="last_name" placeholder="Enter your last name"  class="form-control"/>
                </div>
                <label for="jaber" class="col-sm-2 control-label">Jabber: </label>
                <div class="col-sm-4">
                    <input type="text" value="" name="jabber" id="jabber"  class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="birthday" class="col-sm-2 control-label">Date of birth: </label>
                <div class="col-sm-4">
                    <input type="text" value="" name="birthday" id="birthday" placeholder="11/30/1986"  class="form-control"/>
                </div>
                <label for="skype" class="col-sm-2 control-label">Skype: </label>
                <div class="col-sm-4">
                    <input type="text" value="" name="skype" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                <label for="photo" class="col-sm-2 control-label">Photo: </label>
                <div class="col-sm-6">
                    <input type="file" value="" name="photo" id="photo" />
                    <img class="img-thumbnail" style="width: 200px; height: 200px;" id="blah" src="#" alt="your photo" />
                </div>
                <div class="col-sm-4">
                    <div>
                        <label for="other_info">Other Infornation: </label>
                        <textarea name="other_info" id="other_info" class="form-control"></textarea>
                    </div>
                    <div>
                        <label for="bio">Biography: </label>
                        <textarea name="bio" id="bio" class="form-control"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="container">
                <span id="data_saved">Data Saved Successfuly</span>
                <input id="save" type="submit" name="save_button" value="Save"/>
                <button type="submit" name="cancel_button">Cancel</button>
            </div>
        </div>
        <!-- {{ form.first_name }} -->
    </form>
</div>
{% endblock content %}
