{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock title %}

{% block extra_head %}
<script type="text/javascript">
var REQUESTS_URL = '{% url "requests" %}';
</script>
<script type='text/javascript' src="{% static "requests.js" %}"></script>
{% endblock extra_head %}

{% block content %}
<body onmouseover="mOver()">
    <div class="container">
        <div id="result">
            {% for request in requests %}
                <p>{{ request.request_str }}</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}
