{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{% endblock title %}

{% block content %}
<script type="text/javascript">
var COUNT = 0;
var START = 0;
var END = 0;
</script>
<script type='text/javascript'>
setInterval(function() {
    $.ajax({
        url: '/requests',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            if (START == 0) {
                START = data.count;
            }
            if (END == 0) {
                END = data.count;
            }
            if (data.count > START) {
                END = data.count;
            }
            COUNT = END - START;
            $('title').text(COUNT);
            if (COUNT > 0) {
                $('#resutl').html('');
                for (var i = 0; i <= (COUNT - 1); i++) {
                    $('#resutl').append(data.request[i]);
                };    
            }
        }
    });
}, 100);
</script>
<script type="text/javascript">
function mOver() {
    START = 0;
    END = 0;
    $('title').text(0);
    $('p').css('color', '#551A8B');
};
document.addEventListener('visibilitychange', function(){
    START = 0;
    END = 0;
    document.title = 0;
    $('p').css('color', '#551A8B');
});
</script>
<body onmouseover="mOver()">
    <div class="container">
        <div id="resutl"></div>
    </div>
</body>
{% endblock content %}
